*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

.attribution {
	font-size: 12px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

:root {
	--primary-red: hsl(0, 36%, 70%);
	--secondary-red: hsl(0, 93%, 68%);

	--neutral-red: hsl(0, 6%, 24%);

	--primary-gradient: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
	--secondary-gradient: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}

@media screen and (max-width: 375px) {
	/* Mobile design */
}
